---
# .clang-tidy configuration file
#
# Enable checks selectively. Uncomment categories to add more:
#   modernize-*
#   readability-*
#   bugprone-*
#   cppcoreguidelines-*
#   performance-*
#   misc-*
#
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/rayon'
FormatStyle: none